<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
      <!-- UIkit CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/css/uikit.min.css" />
      <!-- jQuery is required -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- UIkit JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.28/js/uikit-icons.min.js"></script>

      <!-- Local static files -->
      {% load static %}
      <script type="text/javascript" src= {% static "js/chat.js" %}></script>

      {% block style %}

      {% endblock %}

      {% block jquery_autosearch%}
      {% endblock %}
  </head>
  <body>
        <div class="uk-position-top uk-position-fixed uk-position-z-index">
          <nav class="uk-navbar-container" uk-navbar>

              <div class="uk-navbar-left">
                  <ul class="uk-navbar-nav">
                    <li class="uk-active"><a class="uk-navbar-item uk-logo" href="#"><span><span uk-icon="icon: happy; ratio: 2"></span></span>family_counter</a></li>
                    <li class="uk-parent"><a href=""></a></li>
                    <li><a href= {% url 'getMap' %}><span uk-icon="icon: location; ratio: 1"></span>Map</a></li>
                    <li><a href= {% url 'chat' %}><span uk-icon="icon: commenting; ratio: 1"></span>Chat</a></li>
                  </ul>
              </div>

              <div class="uk-navbar-right">
                  <ul class="uk-navbar-nav">
                    <li>
                      {% if user.is_authenticated %}
                          <a href="#">
                            Hello, {{user.username }}
                          </a>
                        {% endif %}
                    </li>
                      <li>
                          <a href="#"><span uk-icon="icon: users"></span> Accounts</a>
                          <div class="uk-navbar-dropdown">
                              <ul class="uk-nav uk-navbar-dropdown-nav">
                                  <li><a href= {% url 'user_login' %}><span uk-icon="icon: sign-in"></span> Sign in</a></li>
                                  <li><a href= {% url 'register' %}><span uk-icon="icon: plus"></span> Sign Up</a></li>
                                  <li><a href= {% url 'user_logout' %}><span uk-icon="icon: close"></span> Sign out</a></li>
                              </ul>
                          </div>
                      </li>
                  </ul>
              </div>
            </nav>
        </div>


    {% block content %}

    {% endblock %}

    {% block index_image %}

    {% endblock %}

  </body>
</html>
