{% extends "../base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>

<div id="msg-container" class="uk-container uk-container-small">
  <div id="msg-items">
    {% for chat in chats %}
      {% if chat.user == request.user %}
        <div class="uk-card uk-card-primary uk-card-body uk-width-3-4@m uk-margin uk-align-right">
          <h3>{{ chat.user }}</h3>
          <p>{{ chat.message }}</p>
        </div>
      {% else %}
        <div class="uk-card uk-card-default uk-card-body uk-width-3-4@m uk-margin uk-align-left">
          <h3>{{ chat.user }}</h3>
          <p>{{ chat.message }}</p>
        </div>
      {% endif %}
    {% empty %}
      <div class="uk-alert-warning" uk-alert>
        <p>There is no message...</p>
      </div>
    {% endfor %}
    <!-- <script>
      var msg_container = document.getElementById("#msg-container");
      msg_container.scrollTop = msg_container.scrollHeight;
    </script> -->
  </div>

  <form id="post-form" class="uk-margin uk-position-bottom-center uk-width-1-2 uk-position-fixed uk-position-z-index" action= {% url 'postMessage' %} method="POST">
    {% csrf_token %}
    <input id="my_msg" class="uk-input uk-width-5-6" type="text" placeholder="Write here...">
    <button id="submit" type="submit" class="uk-button uk-button-primary uk-width-1-6">send</button>
  </form>

</div>

{% load static %}
<script type="text/javascript" src= {% static "js/chat.js" %}></script>




{% endblock %}
